.App {
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 100px 540px auto
}

.headerContainer {
  text-align: center;
  grid-column-start: 1;
  border: 2px solid red;
  grid-column-end: 3
}

.mainContainer{
  border: 2px solid black;
}

.searchContainer {
  grid-column-start: 1;
  grid-row-start: 2;
  border: 2px solid red;
}

.footerContainer {
  text-align: center;
  align-self: end;
  border: 4px solid purple;
  grid-column-start: 1;
  grid-column-end: 3
}