
@import url('https://fonts.googleapis.com/css?family=Archivo&display=swap');

.App {
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 100px 540px auto;
  font-family: 'Archivo', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}


.headerContainer {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  /* border: 2px solid purple */
}

.searchContainer {
  grid-column-start: 1;
  grid-row-start: 2;
  /* border: 2px solid green */
}

.footerContainer {
  margin-top: 300px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0px;
  width: 100%;
  /* border: 2px solid yellow */
}

.card{
  /* height: 300px; */
  /* width: 300px; */
}



button{
  align-self:center;
  background:transparent;
  padding:.2rem .2rem;
  margin:0 1rem;
  transition:all .5s ease;
  color:#41403E;
  font-size:2rem;
  letter-spacing:1px;
  outline:none;
  box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  
&:hover{
     box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
  } 
}

.search{
  padding:.2rem .2rem;
  margin:0 1rem;
  height: 30px;
  width: 200px;
}

.card{
  padding-left: 90px;  
}