.headerContainer {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3
    
  }
  
  
  #navbar {
    position: fixed;
    top: 0px;
    height: 60px;
    line-height: 60px;
    width: 100%;
    z-index: 10;
    
  }
  
  .nav-wrapper {
    margin: 30px;
    text-align: center;
    width: 70%;
  } @media(max-width: 768px) {
      .nav-wrapper {
        width: 90%;
      }
    } @media(max-width: 638px) {
        .nav-wrapper {
          width: 100%;
        }
      } 
  img {
    border-radius: 60%;
  }
  
  .logo {
    float: left;
    height: 100px;

  } 
  @media(max-width: 768px) {
      
      
    }
    
  
  #navbar ul {
    float: right;
    margin-right: -250px;
    list-style: none;
    margin-top: -2px;
    text-align: right;
    transition: transform 0.5s ease-out;
    -webkit-transition: transform 0.5s ease-out;
  } @media(max-width: 640px) {
      #navbar ul {
        display: none;
      }
    } @media(orientation: landscape) {
        #navbar ul {
          display: inline-block;
          
        }
      }
  
  #navbar li {
    display: inline-block;
  
  }
  
  #navbar li a {
    color:black;
    display: block;
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 20px;
    padding: 0 4px;
    position: relative;
    text-decoration: none;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
  }
  
  #navbar li a:hover {
    color: navy;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
  }
  
  #navbar li a:before, #navbar li a:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: -1px;
    background: black;
  }
  
  #navbar li a:before {
    left: 0;
    transition: 0.5s;
  }
  
  #navbar li a:after {
    background: black;
    right: 0;
  }
  
  #navbar li a:hover:before {
    background: black;
    width: 100%;
    transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
  }
  
  #navbar li a:hover:after {
    background: transparent;
    width: 100%;
  }
  