.cardsContainer * {
    border: 4px solid black;


}

.cardsContainer {
    height: 200px;
    display: flex;
    justify-content: space-around
    /* display: flex; */
    /* justify-content: space-evenly; */
}