.mainAppContainer{
   
    margin-left: 50px;
    
}



.cardsContainer {
    /* height: 200px; */
    display: flex;
    justify-content: center;
    /* display: flex; */
    justify-content: space-evenly;
}