.headerContainer {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .topnav {
    background-color: #0000;
    overflow: hidden;
    line-height: 50px;
    padding-top: 30px;
  }
  
  .topnav a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Yantramanav', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .topnav a:hover {
    background-color: grey;
    color: black;
  }
  
  .topnav a.active {
    color: red ;
  }