.headerContainer {
    text-align: center;
    text-shadow: 1px 1px 2px #000000;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

  }

  .logo{
    height: 85px;
    padding-right: 500px;
    padding-top: 20px;
  }

  .topnav {
    background-color: #0000;
    overflow: hidden;
    line-height: 30px;
  }
  
  .topnav a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Yantramanav', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px black;
  }
  
  .topnav a:hover {
    background-color: grey;
    color: black;
  }
  
  .topnav a.active {
    color: red ;
  }