

.smallCard{
    width: 140px;
    height: auto;
    cursor: pointer;
    padding: 0px 5px;
}

.searchContainer{
    display: flex;
    flex-flow: wrap;
    margin: 10px;
    
}

.br2{
    margin-left: 60px;
    background-color: white;
    
}

h2 {
    font-family: 'Yantramanav', sans-serif;
    font-weight: bold;
    margin: 50px;
    color: black;

}

