.smallCard {
  width: 140px;
  height: auto;
  cursor: pointer;
  padding: 5px 5px;
}

.pick-player-text {
}

.allCardsContainer {
  display: flex;
  flex-flow: wrap;
  margin: 5px;
  background-color: #0780;
  
}

.searchbar-container {
  background-color: white;
  width: 345px;
  border-radius: 30px;
  color: black;
  font-weight: 400;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.search-input {
  padding-left: 40px;
  padding-right: 50px;
  margin: 10px;
  right: 100px;
  text-shadow: 1px 1px 2px #000000;
    color: orange
}

h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: lighter;
  margin: 50px;
}
